EXPO_PUBLIC_ENV=development
EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:3000
EXPO_PUBLIC_SOLANA_NETWORK=devnet
EXPO_PUBLIC_RPC_ENDPOINT=https://api.devnet.solana.com
EXPO_PUBLIC_DEV_SIGNER_SECRET=replace_with_dev_only_secret
EXPO_PUBLIC_WGB_PROGRAM_ID=9xZaf2jccNqsfStFKqcXS9ubKfcZcqNbCmgPuHDLLtd6
EXPO_PUBLIC_WGB_MINT=5gw6McYxM3gCCiamCMCms9t6q2ytjPTD5P15ocjtVTVQ
EXPO_PUBLIC_WGB_TREASURY_ACCOUNT=FfADSgooHXMW4jHjF4KpBUJdmbsx3Nnw3PAbcemt8Ark
EXPO_PUBLIC_WGB_PROTOCOL_STATE_PDA=CWYNiviNYPEApbGjjhDPZ8vmxRTMJiHsJto8JRZNPG8s
