EXPO_PUBLIC_ENV=production
EXPO_PUBLIC_API_BASE_URL=https://api.w3bs.fun
EXPO_PUBLIC_SOLANA_NETWORK=mainnet-beta
EXPO_PUBLIC_RPC_ENDPOINT=https://api.mainnet-beta.solana.com
EXPO_PUBLIC_DEV_SIGNER_SECRET=
