EXPO_PUBLIC_ENV=development
EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:3000
EXPO_PUBLIC_SOLANA_NETWORK=devnet
EXPO_PUBLIC_RPC_ENDPOINT=https://api.devnet.solana.com
EXPO_PUBLIC_DEV_SIGNER_SECRET=replace_with_dev_only_secret
